<div class="titles-flex">
  <div class="title-flex"><span>Verification de numero</span></div>
  <div class="title-flex"><span>Verification de lidentite</span></div>
  <div class="title-flex"><span>propriété de la voiture</span></div>

</div>



    <div class="container-flex">
      <div class="flex-items flex-item flex-items-active " [class.flex-items-active]="verifStep<=1" [class.flex-items-verified]="verifStep>1" ><span>1</span></div>
      <div class="flex-items flex-item" [class.flex-items-active]="verifStep<=3&&verifStep>1" [class.flex-items-verified]="verifStep>3"><span>2</span></div>
      <div class="flex-items flex-item" [class.flex-items-active]="verifStep<=5&&verifStep>3" [class.flex-items-verified]="verifStep>5"><span>3</span></div>

 </div>


