<!-- <div class="document-preview">

    <img class="card-elemment" src='../../../assets/phone.png'/>
    <div class="phone-number-verif-box">
      <input type="text" placeholder="Tappez votre numero">
    </div>

  </div>
 -->

  <div class="document-preview">

    <img class="card-elemment" src='../../../assets/img/phone.png' *ngIf="verifStep==0"/>
    <img class="card-elemment" src='../../../assets/img/temp.png' *ngIf="verifStep==1"/>

    <img class="card-elemment" src='../../../assets/img/identity.png' *ngIf="verifStep==2"/>
    <img class="card-elemment" src='../../../assets/img/temp.png' *ngIf="verifStep==3"/>

    <img class="card-elemment" src='../../../assets/img/carownership.png' *ngIf="verifStep==4"/>
    <img class="card-elemment" src='../../../assets/img/temp.png' *ngIf="verifStep==5"/>

  </div>
<!--
  <div class="document-preview">

    <img class="card-elemment" src='../../../assets/carownership.png'/>
  </div> -->
