.document-preview{
    margin-top: 10%;
    background-color: #bca2f7;
     
    width: 600px;
    
    margin-left: auto;
    margin-right:auto;
    border-radius: 30px;
    height:450px;
    padding-top: 50px;
    
    
  }
  .card-elemment{
      
    display: block;
    height: 300px;
     
    margin-left: auto;
    margin-right:auto;
    opacity: 100%;
    margin-bottom: 40px;
    
     
   }
   .phone-number-verif-box{
    position: relative;
 
    bottom: 100px;

    
   }
   .phone-number-verif-box input{
    display: block;
    margin-left: auto;
    margin-right: auto;
   }